// Currently universal settings
docker.enabled = true // Enables Docker container execution
// AWS Batch related information: https://www.nextflow.io/docs/latest/reference/config.html#aws
aws.client.maxConnections = 10000 // The maximum number of allowed open HTTP connections. Set it arbitrarily high so that we don't get limited to running jobs.
aws.client.maxErrorRetry = 10 // The maximum number of retry attempts for failed retryable reques
aws.client.connectionTimeout = 0 // The amount of time to wait (in milliseconds) when initially establishing a connection before timing out.
aws.client.socketTimeout = 0 // The amount of time to wait (in milliseconds) for data to be transferred over an established, open connection before the connection is timed out.

// Workflow run profiles
profiles {
    standard { // Run on AWS Batch
        wave.enabled = true
        fusion.enabled = true
        fusion.exportStorageCredentials = true
        process.executor = "awsbatch"
        process.errorStrategy = "retry"
        process.maxRetries = 3
    }
    localtest { // Local Nextflow execution for testing
        fusion.enabled = false
        process.executor = "local"
        workDir = ".pytest-nf-work"
    }
}

// Set working directory
workDir = "${params.base_dir}/work"
